/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* header related styles start */

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px 240px;
}

.banner-content {
    max-width: 750px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin: 0;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.banner-pic {
    max-width: 635px;
}

/* header related style end */

/* main section start */
main {
    max-width: 1920px;
    margin: 0 auto;
}

main section {
    margin-top: 128px;
}

/* Featured flower section start */

.featured-flowers {
    padding: 30px 240px;

}

.featured-flower-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 48px;
}

.flower-info {
    max-width: 464px;
    max-height: 538px;
    text-align: center;
    display: block;
}

.flower-box {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;


}

#pink-flower {
    background: rgba(167, 33, 98, 0.15);
}

#red-flower {
    background: rgba(5, 151, 160, 0.15);
}

#yellow-flower {
    background: rgba(71, 125, 17, 0.15);
}

.flower-link {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Featured flower section end */

/* Hot deal section start */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px 240px;
}

.section-content {
    text-align: center;
}

/* Hot deal section end */

/* Instagram section start */
.flower-container {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0 240px;
    margin-top: 48px;
}

/* Instagram section end */

/* Latest deal section start */
.latest-deal{
    align-items: center;
    /* max-width: 1140px; */
    margin: 128px 240px;
    background-color: #EFB5B0;
    padding-top: 120px;
}
.email-container {
    display: flex;
    gap: 16px;
    padding: 48px 287px 121px 287px;
    
}

.email-container input {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    padding-left: 20px;
    
}

/* Latest deal section end */

/* Footer start */
footer {
    background-color: #111010;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    padding: 128px 832px 24px 832px;
}

.footer-title span {
    color: #FFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 625px;
    padding: 0 648px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 32px 783px 128px 783px;
}



/* Footer End */