/* Universal Styles */
* {
    margin: 0;
}

/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* header related styles start here*/
.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0 240px;
}

.banner-content {
    max-width: 730px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0;
}

.banner-pic {
    max-width: 635px;
}

/* header related style ends here*/

/* main section start here*/
main {
    /* max-width: 1920px; */
    margin: 0 auto;
}

main section {
    margin-top: 128px;
}

/* Featured flower section start here*/
.featured-flowers {
    margin: 178px 240px;
    max-width: 1920px;
    margin: 178px auto;
}

.flower-container {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 48px;
}

.flower-box {
    border-radius: 5px;
    background: #FFF;
    display: block;
    text-align: center;
    max-width: 464px;
    max-height: 538px;
}

.flowers {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 20px;


}

#pink-flower {
    background: rgba(167, 33, 98, 0.15);
}

#red-flower {
    background: rgba(5, 151, 160, 0.15);
}

#yellow-flower {
    background: rgba(71, 125, 17, 0.15);
}

.flower-link {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* Featured flower section end */

/* Welcome section start */
.welcome-section {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 100px;
}

.welcome-picture {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

/* Welcome section ends */

/* Hot deal section start */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 240px 0px 240px;
}

.section-content {
    text-align: center;
}

.section-content>button {
    margin-top: 30px;
}

/* Hot deal section end */

/* Instagram section start */
.instagram {
    padding: 30px 150px;
}

.flower-container {
    display: flex;
    gap: 24px;
    margin-top: 48px;
}

/* Instagram section end */

/* Latest deal section start */
.latest-deal {
    align-items: center;
    background-color: #EFB5B0;
    padding-top: 120px;
    margin: 128px 150px;
}

.email-container {
    display: flex;
    gap: 16px;
    padding: 48px 287px 121px 287px;

}

.email-container input {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    padding-left: 20px;

}

/* Latest deal section end */

/* Footer start */
footer {
    background-color: #111010;
    display: block;
}

.footer-title {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 128px;
}

.footer-title span {
    color: #FFF;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 128px;
}

/* Footer End */